$headerColor: #AB1B1A;
$defaultBg: #fff;
$btnColor:#AC0C08;
$tabBgColor:#484850;
$fc:#fff;
$priceColor:#f00;
$detailColor:#767575;
$detailBg:#f1f0ee;
$detailPriceColor:#ba0a53;
$addToCartBg:#aa1818;
$cartBtnColor:#666666;
$mineBg:#f7f7f7;
